
@model guzFlightsUltra.Models.ViewModels.Flight.DetailsViewModel


<section class="py-5">
    <div class="container">
        <h1>Edit Flight @Model.Id</h1>
        <form method="post" action="/Flight/Edit">
            <div>

                <div class="form-group p-1">
                    <label for="startDestination">From: </label>
                    <select asp-for="StartDestination">
                        <option value="" disabled="true" selected="true">@Model.StartDestination</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group p-1">
                    <label for="endDestination">To: </label>
                    <select asp-for="EndDestination">
                        <option value="" disabled="true" , selected="true">@Model.EndDestination</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="departureTime">Departure Time</label>
                    <input type="text" class="form-control" id="departureTime" name="DepartureTime" value="@Model.TakeOffTime">
                </div>
                <div class="form-group">
                    <label for="arrivalTime">Arrival Time</label>
                    <input type="text" class="form-control" id="arrivalTime" name="ArrivalTime" value="@Model.ArrivalTime">
                </div>
                <div class="form-group">
                    <label for="seats">Passengers Seats</label>
                    <input type="number" class="form-control" id="seats" name="FreePassengersSeats" value="@Model.FreeSeatsPassanger">
                </div>
                <div class="form-group">
                    <label for="businessSeats">Business Seats</label>
                    <input type="number" class="form-control" id="businessSeats" name="FreeBusinessSeats" value="@Model.FreeSeatsBussiness">
                </div>
                <div class="form-group">
                    <label for="planeType">Plane Type</label>
                    <input type="text" class="form-control" id="planeType" name="PlaneType" value="@Model.PlaneType">
                </div>
                <div class="form-group">
                    <label for="pilotName">Pilot Name</label>
                    <input type="text" class="form-control" id="pilotName" name="PilotName" value="@Model.PilotName">
                </div>
                <div class="form-group" style="display: none">
                    <input type="text" class="form-control" id="id" name="Id" value="@Model.Id">
                </div>
                <div class="form-group text-center">


                    @if (User.IsInRole("Administrator"))
                    {
                        <button type="submit" class="btn btn-dark">Confirm Changes</button>
                    }
                </div>
            </div>
        </form>

    </div>
</section>
